/* begin Page */
#art-page-background-glare, #art-page-background-glare-image
{
  zoom: 1;
}

img
{
  filter: expression(artFixPNG(this));
}/* end Page */

/* begin MenuItem */
.art-hmenu a .r
{
  clip: rect(auto auto auto 418px);
}
/* end MenuItem */

/* begin Box, Sheet */

.art-sheet-body
{
  zoom: 1;
}
/* end Box, Sheet */

/* begin Layout */
.art-content-layout, .art-content-layout-row {display: block;}
.art-content-layout, .art-content-layout-row {zoom: 1;}
/* end Layout */

/* begin Box, Block */

.art-block-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.art-blockheader .r
{
  clip: rect(auto auto auto 1000px);
}
/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent-tl
{
  clip: rect(auto 1px 1px auto);
}

.art-blockcontent-tr
{
  clip: rect(auto auto 1px 1px);
}

.art-blockcontent-bl
{
  clip: rect(1px 1px auto auto);
}

.art-blockcontent-br
{
  clip: rect(1px auto auto 1px);
}

.art-blockcontent-tc
{
  clip: rect(auto auto 1px auto);
}

.art-blockcontent-bc
{
  clip: rect(1px auto auto auto);
}

.art-blockcontent-cr
{
  clip: rect(auto auto auto 1px);
}

.art-blockcontent-cl
{
  clip: rect(auto 1px auto auto);
}

.art-blockcontent-body
{
  zoom: 1;
}
/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper .art-button-r
{
  clip: rect(auto auto auto 417px);
}
/* end Button */

/* begin Box, Post */

.art-post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.art-postcontent
{
  height: 1%;
}
/* end PostContent */

/* begin Footer */
.art-footer-body
{
    padding-right: 0;
  zoom:1;
}

.art-footer{
  zoom:1;
}

/* end Footer */

/* begin LayoutCell, content */
.art-content {width: auto;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell
{
  display: block;
  position:relative;
  float: left;
  clear: right;
}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell {  zoom:1; }
.art-layout-cell .art-layout-cell{ float: none; clear: both;}
/* end LayoutCell, content */

